@(message: String)

@main("GBMonitor - Config") {

    <div>

    @snip_headerbar()

    <script>
       $('#header-tab-custconfig').addClass("active");
    </script>

    <!-- Begin Body -->
    <div class="container overwrite-margin">

        <div class="row">

            <div class="col-md-12">

                <h4><span class="style2" >Global configuration</span></h4>

                <div class="row">
                    <div class="col-md-12">

                        <div class="parent-l1">
                            <table id="monitor-config-global"
                            data-sort-name="config"
                            data-search="false"
                            data-show-columns="false"
                            >
                                <thead>
                                    <tr>
                                        <th data-field="config">Config Name</th>
                                        <th data-field="value">Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>L2 escalation recipients</td>
                                        <td>saumitra.srivastav7@@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>L1 escalation recipients</td>
                                        <td>
                                            @*<a href="#" id="username" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">superuser</a>*@
                                            <span id="username">superuser</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>L2 escalation duration (mins)</td>
                                        <td>240</td>
                                    </tr>
                                    <tr>
                                        <td>L1 escalation duration (mins)</td>
                                        <td>720</td>
                                    </tr>
                                    <tr>
                                        <td>Pause all checks</td>
                                        <td>false</td>
                                    </tr>
                                    <tr>
                                        <td>Pause all emails</td>
                                        <td>false</td>
                                    </tr>
                                    <tr>
                                        <td>Pause all external emails</td>
                                        <td>false</td>
                                    </tr>
                                    <tr>
                                        <td>Pause all triggers</td>
                                        <td>false</td>
                                    </tr>
                                    <tr>
                                        <td>S3 Bucket</td>
                                        <td>gb-s3-dev</td>
                                    </tr>
                                    <tr>
                                        <td>S3 Agents Root Directory</td>
                                        <td>monitor/agents/data/</td>
                                    </tr>
                                    <tr>
                                        <td>Feedback email recipient</td>
                                        <td>saumitra.srivastav@@glassbeam.com, saumitras01@@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>Email Provider</td>
                                        <td>
                                            <input type="radio" name="email-provider" id="email-provider-aws" value="aws" />
                                            <label for="email-provider-aws" class="table-label">AWS</label>
                                            <input type="radio" name="email-provider" id="email-provider-gmail" value="aws"  />
                                            <label for="email-provider-gmail" class="table-label">Gmail</label>
                                        </td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>


                    </div> <!-- end of col -->
                </div> <!-- end of row -->
<br>
                <hr />

            </div>
        </div>

        <div class="row">

            <div class="col-md-12">

                @*<div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-inline">
                            <label for="lcp-custconfig-current-mps">Select Customer</label>
                            <select class="form-control" id="lcp-custconfig-current-mps">
                                <option value="default" selected="selected">Default</option>
                            </select>
                        </div>
                    </div>
                </div>

                <hr>*@

                <h4><span class="style2" id="lcp-custconfig-heading1">Customer specific configuration</span></h4>

                <div class="row">
                    <div class="col-md-12">

                        <div class="parent-l1">
                            <table id="lcp-custconfig-config-table"
                            data-sort-name="mps"
                            data-sort-order="asc"
                            data-search="true"
                            data-show-columns="true"
                            data-height="400">
                                <thead>
                                    <tr>
                                        <th data-field="mps" data-sortable="true">MPS</th>
                                        <th data-field="emailMandatory" data-sortable="true">Mandatory Email</th>
                                        <th data-field="emailInternal" data-sortable="true">Internal Email</th>
                                        <th data-field="emailExternal" data-sortable="true">External Email</th>
                                        <th data-field="skipEmailRules" data-sortable="true">Skip Email Rules</th>
                                        <th data-field="action" data-sortable="true">Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>


                    </div> <!-- end of col -->
                </div> <!-- end of row -->


            </div>
        </div>


    </div>



    <div class="modal" id="lcp-custconfig-edit-popup"  tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editing config of <b><span class="custconfig-mps"></span></b></h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Mandatory Email Recipients</label>
                            <div class="col-sm-8">
                                <textarea class="form-control custom-control input-sm email-mandatory" rows="3" style="resize:none">
                                </textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-4 control-label">Internal Email Recipients</label>
                            <div class="col-sm-8">
                                <textarea class="form-control custom-control input-sm email-internal" rows="3" style="resize:none">
                                </textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-4 control-label">External Email Recipients</label>
                            <div class="col-sm-8">
                                <textarea class="form-control custom-control input-sm email-external" rows="3" style="resize:none">
                                </textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-4 control-label">Skip Email Rules</label>
                            <div class="col-sm-8">
                                <input class="form-control input-sm skip-email-rules" type="text"   />
                            </div>
                        </div>


                    </form>


                </div> <!-- body ends -->

                <div class="modal-footer">
                    <button type="button" class="btn btn-default custconfig-btn-apply-change">Apply Change</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


    <br/>
    <br/>

    </div>

    <script src="@routes.Assets.at("javascripts/app/custconfig.js")" type="text/javascript"></script>

}
