@(message: String)

@main("GBMonitor - LCP Checks") {

    <div>

    @snip_headerbar()

    <script>
       $('#header-tab-lcpchecks').addClass("active");
    </script>


    <!-- Begin Body -->
    <div class="container overwrite-margin">
        <div class="row">

            <div class="col-md-12">

                <h4 id="sec1">
                    You are seeing default thresholds for each check. Choose a customer to see customer-specific thresholds: &nbsp;
                    <select id="lcp-check-current-mps">
                        <option value="default">Default Thresholds</option>
                        <option value="aruba-aruba-pod">aruba-aruba-pod</option>
                        <option value="aruba-airwave-pod">aruba-airwave-pod</option>
                        <option value="vce-vce-pod">vce-vce-pod</option>
                    </select>
                </h4>
                <hr>

                <h3>"<span id="lcp-checks-heading1">Default</span>" Checks/Thresholds </h3>

                <div class="row">
                    <div class="col-md-12">

                        <div class="parent-l1">
                            <table id="lcp-checks-table-default"
                            data-sort-name="doc-count"
                            data-sort-order="desc"
                            data-search="true"
                            data-show-columns="true"
                            data-height="400">
                                <thead>
                                    <tr>
                                        <th data-field="cid" data-sortable="true">ID</th>
                                        <th data-field="name" data-sortable="true">Name</th>
                                        <th data-field="frequency" data-sortable="true">Check Interval(seconds)</th>
                                        <th data-field="critical_threshold" data-sortable="true">Critical Threshold</th>
                                        <th data-field="warning_threshold" data-sortable="true">Warning Threshold</th>
                                        <th data-field="wait_time" data-sortable="true">Wait Duration(seconds)</th>
                                        <th data-field="threshold_unit" data-sortable="true">Threshold Unit</th>
                                        <th data-field="status" data-sortable="true">Status</th>
                                        <th data-field="details" data-sortable="true">Details</th>
                                        <th data-field="actions" data-sortable="true">Actions</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="parent-l1">
                            <table id="lcp-checks-table-all"
                            data-sort-name="name"
                            data-sort-order="desc"
                            data-search="true"
                            data-show-columns="true"
                            data-height="400">
                                <thead>
                                    <tr>
                                        <th data-field="id" data-sortable="true">ID</th>
                                        <th data-field="cid" data-sortable="true">Source Check-ID</th>
                                        <th data-field="name" data-sortable="true">Name</th>
                                        <th data-field="frequency" data-sortable="true">Check Interval(seconds)</th>
                                        <th data-field="critical_threshold" data-sortable="true">Critical Threshold</th>
                                        <th data-field="warning_threshold" data-sortable="true">Warning Threshold</th>
                                        <th data-field="wait_time" data-sortable="true">Wait Duration(seconds)</th>
                                        <th data-field="threshold_unit" data-sortable="true">Threshold Unit</th>
                                        <th data-field="status" data-sortable="true">Status</th>
                                        <th data-field="details" data-sortable="true">Details</th>
                                        <th data-field="actions" data-sortable="true">Actions</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>


                    </div> <!-- end of col -->
                </div> <!-- end of row -->


                <hr />


            </div>
        </div>
    </div>


    <br/>
    <br/>

    </div>

    <script src="@routes.Assets.at("javascripts/app/lcpchecks.js")" type="text/javascript"></script>

}
