<div class="modal" id="lcpevents-popup1" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Details for event</h4>
            </div>
            <div class="modal-body">
                <h3>????</h3>
                <h3>????</h3>
                <h3>????</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="lcpevents-popup2" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel">Update Event</h4>
            </div>
            <div class="modal-body">
                <h3>Owner</h3>
                <h3>Status</h3>
                <h3>Is Bug?</h3>
                <h3>Component</h3>
                <h3>Knowledge Base</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<div class="modal" id="clients-popup1" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Silence/Unsilence Client</h4>
            </div>
            <div class="modal-body">
                <h3>Silence All</h3>
                <h3>UnSilence All</h3>
                <h3>Silence Specific Clients</h3>
                <h3>Un-Silence Specific Clients</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>



