<header class="navbar navbar-default navbar-static-top" role="banner" xmlns="http://www.w3.org/1999/html">
    <div class="container overwrite-margin">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">GB-Monitor</a>
        </div>


        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li id="header-tab-summary"><a href="/">Summary</a></li>
                <li id="header-tab-lcpevents"><a href="/lcpevents">LCP Events</a></li>
                <li id="header-tab-solrevents"><a href="/solrevents">Solr Events</a></li>
                <li id="header-tab-clients"><a href="/clients">Clients</a></li>
                <li id="header-tab-lcpchecks"><a href='/lcpchecks'>LCP Checks</a></li>
                <li id="header-tab-solrchecks"><a href="/solrchecks">Solr Checks</a></li>
                <li id="header-tab-reports"><a href="/reports">Reports</a></li>
                <li id="header-tab-kb"><a href="/kb">KB</a></li>
                <li id="header-tab-admin"><a href="/admin">Admin</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                @*<li><a href="#">Link</a></li>*@
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span id="header-username">Guest User</span><b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">
                            <label for="auto-refresh-checkbox">Auto Refresh</label>
                            <input type="checkbox" id="auto-refresh-checkbox"
                            data-on-text="ON"
                            data-off-text="OFF"
                            data-size="small" />
                        </a></li>
                        <li><a href="#"><b>Settings</b></a></li>
                        <li class="divider"></li>
                        <li><a href="#"><b>Sign Out</b></a></li>
                    </ul>
                </li>
            </ul>

        </nav>


    </div>
</header>
